<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">

        <p>
            <form action="" method="POST" enctype="multipart/form-data">
            {{form.as_p}}
            {% csrf_token %}
                <input type="submit" value="Submit">
            </form>
            <br> <br>
            <img src={{coverArt}} alt="imge"> <br> <br>
            This is my movie title: {{movieName}} <br> <br>
            Based on IMDB standard, this movie would be rated: {{MovieRating}}/10
        </p>

    </div>
</body>
</html>